button {
  padding: 5px;
  width: 200px;
  background-color: rgb(30, 151, 192);
}
body {
  background-color: rgb(234, 220, 220);
  padding-left: 10px;
}
span {
  padding: 5px;
  color: rgb(3, 67, 122);
}
.task {
  border: 1px solid black;
  padding: 5px;
  background-color: rgb(198, 231, 154);
  display: flex;
  justify-content: center;
  width: 650px;
  align-items: flex-end;
  margin-left: 300px;
  justify-content: flex-start;
  position: relative;
  left: 150px;
  bottom: 650px;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
